*{
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    background-color: rgb(191, 191, 191);
    min-width: fit-content;
    padding: 1rem;
}

.header-container{
    display: flex;
}

.search-container{
    display: flex;
}

.f-c-toggle-container{
    display: flex;
}